<div class="header">
    <div class="logo">
        <i class="ri-leaf-line"></i>
        Organic
    </div>
    <div class="menu">
      <span class="header-menu" [routerLink]="['home']">Home</span>
      <span class="header-menu" [routerLink]="['categories']">Categories</span>
      <span class="header-menu" [routerLink]="['shop']">Shop</span>
      <span class="header-menu">Contact</span>
    </div>
    <div class="icons">
        <i class="ri-heart-fill icon"></i>
        <i class="ri-shopping-cart-fill icon"></i>
        <i class="ri-user-line icon"></i>
    </div>
</div>
