<div class="header">
    <div class="logo">
        <i class="ri-leaf-line"></i>
        Organic
    </div>
    <div class="menu">
    <span class="header-menu" [routerLink]="['tenth']">10th Class</span>
    <span class="header-menu" [routerLink]="['12th']">12Th class</span>
    <span class="header-menu" [routerLink]="['BE']">B.E students</span>
      <span class="header-menu">Contact</span>
    </div>
    <div class="icons">
        <i class="ri-heart-fill icon"></i>
        <i class="ri-shopping-cart-fill icon"></i>
        <i class="ri-user-line icon"></i>
    </div>
</div>
