<!-- <div class="main">
    <div class="col-1">
       <h2>Natural Organic Fresh <br> Vegetables and <br> Fruits</h2>
       <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae,<br> 
          saepe delectus? Molestias, corrupti voluptatem animi deserunt,<br>
          eveniet voluptate in ad maxime, ut excepturi ipsam illum quisquam <br>
          possimus. Quasi, pariatur fugit!</p>
        <button>Shop Now</button>
    </div>
    <div class="col-1">
      <img src="../../assets/fruit-5.png" alt="">
    </div>
</div>
<app-products></app-products>
<app-cart></app-cart> -->
<app-footer></app-footer>
<app-student-list [studentList]="TengthList"></app-student-list>