.main{
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    h2{
        margin: 0%;
        color: hsla(112, 66%, 21%, 0.982);
    font-family: "Titan One", sans-serif;
    text-shadow: 0 2px 3px hsla(55, 56%, 64%, 0.808);
    font-size: 40px;
    letter-spacing: 1px;
    }
    
    button{
        background-color:hsl(45, 100%, 52%);
        color: hsl(45, 100%, 20%);
        font-weight:600;
        padding: .75rem 2rem;
        border-radius: 4rem;
        box-shadow: inset 0 -4px 8px hsla(0, 0%, 0%, 0.3);
        border: none;
        cursor: pointer;
    }
    button:hover{
     background-color: hsla(45, 100%, 52%, 0.751);
    }

    p{
        color: hsl(45, 100%, 20%);
        font-size: 17px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    }
}
.col-1 img{
    width: 100%;
    height: 90vh;
}