<div class="cart">
    <div class="col-5">
        <h1>Featured Products</h1>
        <h2>Count {{counterValue}}</h2>
        <button (click)="showMyproduct()">ShowMyProduct</button> 
        <div class="underline">
          
        </div>
    </div>
       <div class="box-2">
        <div class="shop-wrapper" *ngFor="let item of shopProduct">
          <img class="shop-img" src="../../assets/{{item.imgName}}.png" alt="">
          <span>{{item.name}}</span>
          <span>{{item.price}}.00 / Kg</span>
        <div class="rating">
            <span *ngFor="let item of [].constructor(item.rating )">
              <i class="ri-star-fill"></i>
              </span>
              <span *ngFor="let item of [].constructor(5-item.rating )">
                <i class="ri-star-line"></i>
                </span>
           </div>
          <button class="btn" (click)="addToCart(item)"><i class="ri-shopping-cart-2-fill bag"></i> Add to cart </button>
      </div>
       </div>
</div>
